*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
:root{
    --main-baground:#1e293b;
    --text-color:#f4f4f5;

}
body{
    background-color: var(--main-baground);
    color: var(--text-color);
}